@(pelicula: Integer)

@main("Compra de entradas"){

<div role="main" id="main">

	<div id="respond">
	
	<h4 class="heading">Comprar entradas para @Pelicula.buscarPorId(pelicula).getTitulo()</h4>
	
	@helper.form(routes.Application.confirmarCompra()){
	
	Seleccionar fecha y hora:  
	<select name="fecha">
		@for(proyeccion <- Proyeccion.proyeccionesPorPelicula(pelicula)){
			<option value="@proyeccion.getFechaProyeccion()"> @proyeccion.getFechaProyeccion()</option>
		}
	</select>
	
	<br>
	
	Seleccionar butaca: 
	<select name="butaca">
		<option value="22"> 22 </option>
	</select>
	
	<br>
	
	Correo electrónico: <input type="text" name="correo"/>
	
	<br>
	
	<p class="form-submit">
						<input name="submit" type="submit" id="submit" value="Comprar">
	</p>
	
	}
	
	</div>
	
	</div>
	
}