@(peliculas: List[Pelicula], formularioPeli: Form[Pelicula])

@import helper._

<!-- El argumento del main es lo que sale en la pestaña del navegador -->

@main("Cartelera") {
    
    <h1> Cines Entrecine3 </h1>
    
    @for(pelicula <- peliculas){
		<div class="pelicula">
    		<h3 class="titulo">@pelicula.getTitulo()</h3>
    		<p class="descripcion">ñasdjfñlk</p>
    		
			<p> Comprar entradas:</p>
			
			@form(routes.Application.comprarEntradas()) {
        		@inputText(formularioPeli("titulo"))
        		<input type="submit" value="Comprar">
        	}
			
			
			
		</div>
    }
    
}
