@(peliculas: List[Pelicula], formularioPeli: Form[Pelicula])

@import helper._

<!-- El argumento del main es lo que sale en la pestaña del navegador -->

@main("Cartelera") {
    
    <h1> Cines Entrecine3 </h1>
    
    @for(pelicula <- peliculas){
		<div class="pelicula">
    		<h3>@pelicula.titulo</h3>
    		<p>@pelicula.descripcion</p>
		</div>
    }

    
    <h2>Añadir nueva película</h2>
    
   
    @form(routes.Application.nuevaPelicula()){
    	@inputText(formularioPeli("Titulo"))
    	<input type="submit" value="create">
    }
    
}
