@(peliculas: List[Pelicula], formularioPeli: Form[Pelicula])

@import helper._

<!-- El argumento del main es lo que sale en la pestaña del navegador -->

@main("Cartelera") {
    
    <h1> Cines Entrecine3 </h1>
    
    <ul>
    @for(pelicula <- peliculas){
    	<li>
    		@pelicula.getTitulo()
    		@form(routes.Application.borrar(pelicula.getId())){
    			<input type="submit" value="Borrar">
    		}
    	</li>
    }
    </ul>
    
    <h2>Añadir nueva película</h2>
    
   
    @form(routes.Application.nuevaPelicula()){
    	@inputText(formularioPeli("label"))
    	<input type="submit" value="create">
    }
    
}
