
body {
	background: #BDBDBD;
	font-family: Segoe UI, Arial, Verdana, Tahoma, sans-serif;
}

.pelicula {
	margin:0px 25px 25px 25px;
	border: 5px solid #000;
}

.titulo {
	text-align:center;
}

table {
	border-collapse: collapse;
}

h1 {
	text-align: center;
	color: #F7FE2E;
	font-size: 50px;
	background-color: #5882FA;
}

h2 {
	background-color: #5882FA;
	font-size: 25px;
}